<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Abarrotes "El Comandante"</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <form class="d-flex ms-auto">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
      </form>
    </div>
  </div>
</nav>

<app-list-products> </app-list-products>

<div class="container mt-5 text-center">
  <h3>{{message}}</h3>
  <a href="javascript:void(0)" class="btn btn-lg btn-primary" (click)="logout()">Logout</a>
</div>